In [2]:
import pandas as pd
df = pd.read_csv("Sales.csv")
print(df.head())

   Order ID  Customer Name   Order Date   Product  Quantity  Unit Price  \
0      1001       John Doe   01/01/2024  Widget A      10.0        25.0
1      1002     Jane Smith   01/02/2024  Widget B       5.0        40.0
2      1003            NaN  2024/01/03'  Widget A       NaN        25.0
3      1004  Alice Johnson   04/01/2024  Widget C       3.0         NaN
4      1005      Bob Brown  2024/01/05'  Widget B      10.0        40.0

   Total Revenue
0          250.0
1          200.0
2            NaN
3          210.0
4          400.0

In [3]:
#duplicate rows
df = df.drop_duplicates()
print(df.head())

   Order ID  Customer Name   Order Date   Product  Quantity  Unit Price  \
0      1001       John Doe   01/01/2024  Widget A      10.0        25.0
1      1002     Jane Smith   01/02/2024  Widget B       5.0        40.0
2      1003            NaN  2024/01/03'  Widget A       NaN        25.0
3      1004  Alice Johnson   04/01/2024  Widget C       3.0         NaN
4      1005      Bob Brown  2024/01/05'  Widget B      10.0        40.0

   Total Revenue
0          250.0
1          200.0
2            NaN
3          210.0
4          400.0

In [5]:
#missing values
missing = df.isnull().sum()
print(missing)

Order ID         0
Customer Name    1
Order Date       2
Product          0
Quantity         1
Unit Price       1
Total Revenue    1
dtype: int64

In [6]:
df = df.dropna()
print(df.isnull().sum())

Order ID         0
Customer Name    0
Order Date       0
Product          0
Quantity         0
Unit Price       0
Total Revenue    0
dtype: int64

In [7]:

print(df[['Order Date']].head(10))

  Order Date
0 2024-01-01
1 2024-01-02
5 2024-06-01
7 2024-07-01

In [9]:
df['Order Date'] = df['Order Date'].astype(str).str.replace("'", "").str.strip()
df['Order Date'] = pd.to_datetime(df['Order Date'], errors='coerce')
df = df.dropna(subset=['Order Date'])
print(df['Order Date'].head())

0   2024-01-01
1   2024-01-02
5   2024-06-01
7   2024-07-01
Name: Order Date, dtype: datetime64[ns]

In [10]:
#wrong data
wrong_quantities = df[df['Quantity'] <= 0]
wrong_prices = df[df['Unit Price'] <= 0]
print(wrong_quantities)
print(wrong_prices)

   Order ID Customer Name Order Date   Product  Quantity  Unit Price  \
7      1007    Jane Smith 2024-07-01  Widget C      -6.0        70.0

   Total Revenue
7         -420.0
Empty DataFrame
Columns: [Order ID, Customer Name, Order Date, Product, Quantity, Unit Price, Total Revenue]
Index: []

In [14]:
df = df[(df['Quantity'] > 0) & (df['Unit Price'] > 0)]
print(df.head())

   Order ID Customer Name Order Date   Product  Quantity  Unit Price  \
0      1001      John Doe 2024-01-01  Widget A      10.0        25.0
1      1002    Jane Smith 2024-01-02  Widget B       5.0        40.0
5      1006      John Doe 2024-06-01  Widget A       4.0        25.0

   Total Revenue
0          250.0
1          200.0
5          100.0

In [16]:
#unnecessary columns
print(df.columns.tolist())

['Order ID', 'Customer Name', 'Order Date', 'Product', 'Quantity', 'Unit Price', 'Total Revenue']

In [17]:
print(df.head())

   Order ID Customer Name Order Date   Product  Quantity  Unit Price  \
0      1001      John Doe 2024-01-01  Widget A      10.0        25.0
1      1002    Jane Smith 2024-01-02  Widget B       5.0        40.0
5      1006      John Doe 2024-06-01  Widget A       4.0        25.0

   Total Revenue
0          250.0
1          200.0
5          100.0

In [18]:
df.to_csv("cleaned_sales.csv", index=False)