In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [3]:
df = pd.read_csv("Sales.csv")
df.head()

,Order ID,Customer Name,Order Date,Product,Quantity,Unit Price,Total Revenue
0,1001,John Doe,01/01/2024,Widget A,10.0,25.0,250.0
1,1002,Jane Smith,01/02/2024,Widget B,5.0,40.0,200.0
2,1003,NaN,2024/01/03',Widget A,NaN,25.0,NaN
3,1004,Alice Johnson,04/01/2024,Widget C,3.0,NaN,210.0
4,1005,Bob Brown,2024/01/05',Widget B,10.0,40.0,400.0

In [4]:
df.info()
df.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       8 non-null      int64
 1   Customer Name  7 non-null      object
 2   Order Date     8 non-null      object
 3   Product        8 non-null      object
 4   Quantity       7 non-null      float64
 5   Unit Price     7 non-null      float64
 6   Total Revenue  7 non-null      float64
dtypes: float64(3), int64(1), object(3)
memory usage: 580.0+ bytes

Order ID           int64
Customer Name     object
Order Date        object
Product           object
Quantity         float64
Unit Price       float64
Total Revenue    float64
dtype: object

In [5]:
df.describe()

          Order ID   Quantity  Unit Price  Total Revenue
count     8.000000   7.000000    7.000000       7.000000
mean   1003.625000   5.142857   35.714286     141.428571
std       2.263846   5.785861   16.690459     263.149423
min    1001.000000  -6.000000   25.000000    -420.000000
25%    1001.750000   3.500000   25.000000     150.000000
50%    1003.500000   5.000000   25.000000     210.000000
75%    1005.250000  10.000000   40.000000     250.000000
max    1007.000000  10.000000   70.000000     400.000000

In [6]:
df.shape

(8, 7)

In [3]:
#duplicate rows
df = df.drop_duplicates()
print(df.head())

   Order ID  Customer Name   Order Date   Product  Quantity  Unit Price  \
0      1001       John Doe   01/01/2024  Widget A      10.0        25.0
1      1002     Jane Smith   01/02/2024  Widget B       5.0        40.0
2      1003            NaN  2024/01/03'  Widget A       NaN        25.0
3      1004  Alice Johnson   04/01/2024  Widget C       3.0         NaN
4      1005      Bob Brown  2024/01/05'  Widget B      10.0        40.0

   Total Revenue
0          250.0
1          200.0
2            NaN
3          210.0
4          400.0

In [ ]:
#missing values
print("missing values are")
df.isnull().sum()

missing values are

Order ID         0
Customer Name    1
Order Date       0
Product          0
Quantity         1
Unit Price       1
Total Revenue    1
dtype: int64

In [9]:
numeric_cols = ['Quantity', 'Unit Price', 'Total Revenue']
for col in numeric_cols:
    if col in df.columns:
        df[col] = pd.to_numeric(df[col], errors='coerce') 
        # fill NaN values with the mean of the column
        df[col] = df[col].fillna(df[col].median())
        
categorical_cols = ['Customer Name']
for col in categorical_cols:
    if col in df.columns:
        df[col] = df[col].fillna(df[col].mode()[0]) 
# Check again for missing values
print("Missing values after handling:")
print(df.isnull().sum())

Missing values after handling:
Order ID         0
Customer Name    0
Order Date       0
Product          0
Quantity         0
Unit Price       0
Total Revenue    0
dtype: int64

In [10]:

print(df[['Order Date']].head(10))

    Order Date
0   01/01/2024
1   01/02/2024
2  2024/01/03'
3   04/01/2024
4  2024/01/05'
5   06/01/2024
6   01/01/2024
7   07/01/2024

In [11]:
df['Order Date'] = df['Order Date'].astype(str).str.replace("'", "").str.strip()
df['Order Date'] = pd.to_datetime(df['Order Date'], errors='coerce')
df = df.dropna(subset=['Order Date'])
print(df['Order Date'].head())

0   2024-01-01
1   2024-01-02
3   2024-04-01
5   2024-06-01
6   2024-01-01
Name: Order Date, dtype: datetime64[ns]

In [10]:
#wrong data
wrong_quantities = df[df['Quantity'] <= 0]
wrong_prices = df[df['Unit Price'] <= 0]
print(wrong_quantities)
print(wrong_prices)

   Order ID Customer Name Order Date   Product  Quantity  Unit Price  \
7      1007    Jane Smith 2024-07-01  Widget C      -6.0        70.0

   Total Revenue
7         -420.0
Empty DataFrame
Columns: [Order ID, Customer Name, Order Date, Product, Quantity, Unit Price, Total Revenue]
Index: []

In [14]:
df = df[(df['Quantity'] > 0) & (df['Unit Price'] > 0)]
print(df.head())

   Order ID Customer Name Order Date   Product  Quantity  Unit Price  \
0      1001      John Doe 2024-01-01  Widget A      10.0        25.0
1      1002    Jane Smith 2024-01-02  Widget B       5.0        40.0
5      1006      John Doe 2024-06-01  Widget A       4.0        25.0

   Total Revenue
0          250.0
1          200.0
5          100.0

In [16]:
#unnecessary columns
print(df.columns.tolist())

['Order ID', 'Customer Name', 'Order Date', 'Product', 'Quantity', 'Unit Price', 'Total Revenue']

In [17]:
print(df.head())

   Order ID Customer Name Order Date   Product  Quantity  Unit Price  \
0      1001      John Doe 2024-01-01  Widget A      10.0        25.0
1      1002    Jane Smith 2024-01-02  Widget B       5.0        40.0
5      1006      John Doe 2024-06-01  Widget A       4.0        25.0

   Total Revenue
0          250.0
1          200.0
5          100.0

In [18]:
df.to_csv("cleaned_sales.csv", index=False)